{% extends "world/base.html" %}
{% block content %}

    <body>

    <section class = "jumbotron text-center">
        <div class = "container">
        <h1 class = "jumbotron-heading"> About RentCommend </h1>
            <p class="lead text-muted">
                Learn about how we find the perfect property for you.
                Take a look at how to use our search engine, view property information,
                find local amenities and more.
            </p>
        </div>
    </section>

    </body>

{% endblock content %}