{% extends "world/base.html" %}
{% block content %}
    {% load leaflet_tags %}
    {% load static %}
    {% load i18n %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_filters %}
    <head>
        {% leaflet_css %}
        {% leaflet_js %}
        {% block head_title %}{% trans "Amenities" %}{% endblock %}
        {% block extra_header %}
            <style>
                #map {width: 70vw;height: 70vh;}
            </style>
        {% endblock %}

    <!--LOADS markercluster css-->
        <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" type="text/css" rel="stylesheet">
        <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" type="text/css" rel="stylesheet">
        <!--LOADS markercluster plugin-->
        <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>

    <!-- Leaflet custom icons -->
        <script src = "{% static 'world/icons.js' %}"></script>
    </head>
    <body>
        {% block body_content %}

            {% leaflet_map "map" callback="window.map_init_basic" %}
            <br>
            <br>
            <div id = "info">
                {% for amenity in amenity_list %}
                    <div class="card" style="width: 70vw; display:none;"
                         amenity = "{{ amenity.amenity }}"
                         name = "{{ amenity.name }}"
                         lat = "{{ amenity.lat }}"
                         lon = "{{ amenity.lon }}">
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </body>

    {% block extra_footer %}

        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
            <div class="toast-header">
                <strong class="mr-auto">Location Information</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body"></div>
        </div>

        <script>
            $("#body_div").css({"top": $(".site-header").height() + 10, "position": "absolute"});
                $(".toast").css({
                    "top": ($(document).height() / 5),
                    "left": ($(document).width() / 5),
                    "position": "fixed",
                    "z-index": 2000
                });

        </script>

    <script>
        let HOST = location.protocol + "//" + location.host;
        let locationMarker;
        let circle;
        $("#map").css({
            "width": "100%",
            "height": $(document).height() - ($(".site-header").height() + $("#footer").height() + 45)});
        function map_init_basic(map, options) {
            let pos;
            map.setView([53.5, -8.5], 11);
            updateLocation(map);
        }

        function updateLocation(map) {
            navigator.geolocation.getCurrentPosition(function (pos) {
                setMapToCurrentLocation(map, pos);
                },
                function (err) {
                },
                {
                    enableHighAccuracy: true,
                    timeout: 30000
                }
            );
        }

    function setMapToCurrentLocation(map, pos) {
        console.log("In setMapToCurrentLocation.");

        var bounds_markers = L.featureGroup();
        var all_markers = L.markerClusterGroup();
        var dining_markers = L.markerClusterGroup();
        var education_markers = L.markerClusterGroup();
        var transportation_markers = L.markerClusterGroup();
        var financial_markers = L.markerClusterGroup();
        var healthcare_markers = L.markerClusterGroup();
        var entertainment_markers = L.markerClusterGroup();
        var other_markers = L.markerClusterGroup();

        var dining = ['bar', 'bbq', 'biergarten', 'cafe', 'drinking_water', 'fast_food',
        'ice_cream', 'pub', 'restaurant']

        var education = ['college', 'driving_school', 'kindergarten', 'language_school', 'library',
        'toy_library', 'music_school', 'school', 'university']

        var transportation = ['bicycle_parking', 'bicycle_repair_station', 'kindergarten', 'bicycle_rental', 'boat_rental',
        'boat_sharing', 'bus_station', 'car_rental', 'car_sharing',
        'car_wash', 'vehicle_inspection', 'charging_station', 'ferry_terminal', 'fuel',
        'grit_bin', 'motorcycle_parking', 'parking', 'parking_entrance', 'parking_space', 'taxi']

        var financial = ['atm', 'bank', 'bureau-de-change']

        var healthcare = ['baby_hatch', 'clinic', 'kindergarten', 'dentist', 'doctors',
        'hospital', 'nursing_home', 'pharmacy', 'social_facility', 'veterinary']

        var entertainment = ['arts_centre', 'casino', 'cinema', 'community_centre',
        'gambling', 'nightclub', 'planetarium', 'public_bookcase', 'social_centre',
        'studio', 'theatre']

        var others = ['animal_boarding', 'animal_breeding', 'animal_shelter', 'baking_oven',
        'bench', 'childcare', 'clock', 'conference_centre', 'courthouse', 'crematorium',
        'dive_centre', 'dog_toilet', 'embassy',
        'fire_station', 'funeral_hall', 'give_box', 'grave_yard',
        'internet_cafe', 'kitchen', 'lounger', 'marketplace',
        'monastery', 'photo_booth', 'place_of_mourning', 'place_of_worship', 'police', 'post_box',
        'gambling', 'nightclub', 'planetarium', 'public_bookcase', 'social_centre',
        'post_depot', 'post_office', 'recycling', 'shelter', 'telephone', 'toilets', 'townhall',
        'vending_machine', 'waste_basket', 'waste_disposal', 'water_point'
        ]

        $('.card').each(function() {
            var amenity = $(this).attr('amenity');
            var name = $(this).attr('name');
            var lat = $(this).attr('lat');
            var lon = $(this).attr('lon');

            let myLatLon = L.latLng(lat, lon);

            if (dining.includes(amenity)){
                dining_markers.addLayer(L.marker(myLatLon, {icon:dinIcon}).bindPopup("<b>"+amenity+"</b><br>"+name));
            }

            else if (education.includes(amenity)){
                education_markers.addLayer(L.marker(myLatLon, {icon:edIcon}).bindPopup("<b>"+amenity+"</b><br>"+name));
            }

            else if (transportation.includes(amenity)){
                transportation_markers.addLayer(L.marker(myLatLon, {icon:transIcon}).bindPopup("<b>"+amenity+"</b><br>"+name));
            }

            else if (financial.includes(amenity)){
                financial_markers.addLayer(L.marker(myLatLon, {icon:finIcon}).bindPopup("<b>"+amenity+"</b><br>"+name));
            }

            else if (healthcare.includes(amenity)){
                healthcare_markers.addLayer(L.marker(myLatLon, {icon:medIcon}).bindPopup("<b>"+amenity+"</b><br>"+name));
            }

            else if (entertainment.includes(amenity)){
                entertainment_markers.addLayer(L.marker(myLatLon, {icon:entIcon}).bindPopup("<b>"+amenity+"</b><br>"+name));
            }

            else{
                other_markers.addLayer(L.marker(myLatLon).bindPopup("<b>"+amenity+"</b><br>"+name));
            }

            all_markers.addLayer(L.marker(myLatLon).bindPopup("<b>"+amenity+"</b><br>"+name));
            bounds_markers.addLayer(L.marker(myLatLon));

        });
        map.addLayer(all_markers);

        var amenity_markers = {
            "All" : all_markers,
            "<i class=\"fas fa-utensils\"></i> Food and Drink" : dining_markers,
            "<i class=\"fas fa-school\"></i> Education" : education_markers,
            "<i class=\"fas fa-subway\"></i> Transport" : transportation_markers,
            "<i class=\"fas fa-euro-sign\"></i> Financial Services" : financial_markers,
            "<i class=\"fas fa-medkit\"></i> Healthcare" : healthcare_markers,
            "<i class=\"fas fa-theater-masks\"></i> Entertainment" : entertainment_markers,
            "<i class=\"fas fa-map-marker-alt\"></i> Other Amenities" : other_markers
        }


        L.control.layers(amenity_markers).addTo(map);

        let myLatLon = L.latLng('{{source.lat}}', '{{source.lon}}');
        let radius = L.circle(myLatLon, {
            color : 'grey',
            fillColor : 'grey',
            fillOpacity : 0.2,
            radius : {{ source.radius }}
        }).addTo(map);


        L.marker(myLatLon, {
            icon:houseIcon
        }).addTo(map);


        map.fitBounds(bounds_markers.getBounds());
    }
    </script>
{% endblock %}
{% endblock content %}


