{% extends "world/base.html" %}
{% block content %}
    {% load leaflet_tags %}
    {% load static %}
    {% load i18n %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_filters %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        {% block head_title %}{% endblock %}
        {% block extra_header %}
            <style>
                #map {width: 70vw;height: 60vh;}
            </style>
        {% endblock %}

    </head>
    <body>
    <section class = "jumbotron text-center">
        <div class = "container">
            <h1 class = "jumbotron-heading"> Welcome to RentCommend </h1>
            <p class="lead text-muted">
                Renting with you in mind. Our system will analyse properties on the
                market matching your ideal needs and generate a recommendation for your
                perfect place.
            </p>
            <p>
                <a href="{% url 'world-about' %}" class = "btn btn-primary my-2">About RentCommend</a>
                <a href="{% url 'world-search' %}" class = "btn btn-primary my-2">Find a Property</a>
            </p>
        </div>
    </section>

    <br>

    <div class = "container">
        <div class = "page-header">
            <p class = "text-center font-weight-bold"> You Are Currently Located Here </p>
        </div>

        {% block body_content %}
            {% leaflet_map "map" callback="window.map_init_basic" %}
        {% endblock %}

    </div>

    </body>
    {% block extra_footer %}

    <script>
        let HOST = location.protocol + "//" + location.host;
        let locationMarker;
        let circle;
        $("#map").css({
            "width": "100%",
            "height": $(document).height() - ($(".site-header").height() + $("#footer").height() + 45)});
        function map_init_basic(map, options) {
            let pos;
            map.setView([53.5, -8.5], 11);
            updateLocation(map);
        }

        function updateLocation(map) {
            navigator.geolocation.getCurrentPosition(function (pos) {
                setMapToCurrentLocation(map, pos);
                },
                function (err) {
                },
                {
                    enableHighAccuracy: true,
                    timeout: 30000
                }
            );
        }

        function setMapToCurrentLocation(map, pos) {
            console.log("In setMapToCurrentLocation.");
            let myLatLon = L.latLng(pos.coords.latitude, pos.coords.longitude);
            map.flyTo(myLatLon, 16);
            if (locationMarker) {
                map.removeLayer(locationMarker);
            }
            locationMarker = new L.Marker(myLatLon).addTo(map);
            if (circle) {
                map.removeLayer(circle);
            }
            circle = L.circle(myLatLon, {color: 'blue',fillColor: 'blue',fillOpacity: 0.3,radius: pos.coords.accuracy}).addTo(map);
        }
    </script>
{% endblock %}
{% endblock content %}


