{% extends "world/base.html" %}

{% block content %}
{% load leaflet_tags %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    {% block head_title %}{% trans "Property Info" %}{% endblock %}
    {% block extra_header %}
        <style>
            #map {width: 50vw;height: 50vh;}
        </style>
    {% endblock %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <!-- Leaflet custom icons -->
    <script src = "{% static 'world/icons.js' %}"></script>

    <!--LOADS markercluster css-->
        <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" type="text/css" rel="stylesheet">
        <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" type="text/css" rel="stylesheet">
        <!--LOADS markercluster plugin-->
        <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>

</head>

<body>
    {% if not amenity_list %}
        <div class="alert alert-danger" role="alert">
            Looks like there's no amenities in this given radius! Please try again.
        </div>
    {% endif %}

    {% block body_content %}
        {% leaflet_map "map" callback="window.map_init_basic" %}
    {% endblock %}

    <div class="container">
      <div class="row">
        <div class="card mb-4  mt-3 left  top" style="width:100%">
          <div class="card-body">
            <h3>Nearby Amenities</h3>
              <form action = "{% url 'overpass' prop.id %}" method = "POST">
                  {% csrf_token %}
                  <fieldset>
                  {% if amenity_list %}
                      {% for amenity in amenity_list %}
                        <div class="card amenity-card" style="width: 70vw; display:none;"
                             amenity = "{{ amenity.amenity }}"
                             amenity_display_name = "{{ amenity.amenity_display_name }}"
                             name = "{{ amenity.name }}"
                             lat = "{{ amenity.lat }}"
                             lon = "{{ amenity.lon }}">
                        </div>
                      {% endfor %}
                  {% endif %}

                  <!-- amenities slider setup -->
                      <input type = "text" id = "lat" name = "lat"
                             value = "{{ prop.lat }}" style= "display:none"/>
                      <input type = "text" id = "lon" name = "lon"
                             value = "{{ prop.lon }}" style= "display:none"/>
                      <br>
                      <label>Kilometer Radius from Property</label>
                      <i class="fas fa-question-circle" data-toggle="collapse" href="#amenityCollapse"></i>
                        <div class = "collapse" id = "amenityCollapse">
                            <div class = "card card-body">
                                This slider allows you to view all amenities within a specified radius of your
                                property, from 500m to 5km. Explore facilities such as education, healthcare,
                                entertainment and more!
                            </div>
                        </div>
                      <br>
                      <input class = "slider" id="radius" name="radius" type="range" min="0.5" max="5"
                           value = "1" step="0.5"/>
                    <label id="radiusLabel"></label>

                  <!-- Altering radius slider -->
                    <script>
                        var km = "km"
                        var radius_slider = document.getElementById("radius");
                        var radius_label = document.getElementById("radiusLabel");
                        radius_label.innerHTML = radius_slider.value.concat(km);

                        radius_slider.oninput = function(){
                            radius_label.innerHTML = radius_slider.value.concat(km);
                        }
                    </script>

                      <br>
                      <button class="btn btn-outline-info" type="submit">Amenities</button>
                  </fieldset>
              </form>
          </div>
        </div>
    </div>
      <div class="row">
        <div class="card mb-4 mt-3 left top" style="width:100%">
          <div class="card-body">
            <h1>{% block title %} {{ prop.address }} {% endblock title %}</h1>
            <p class="card-text ">Posted on : {{ prop.date_posted }}</p>
            <p class="card-text ">Rent: {{ prop.rent }}</p>
            <img src="{{prop.url}}" class="img-fluid" alt="Responsive image">
            <br>
            <h3 class = "card-title"> Description </h3>
            <p class = "card-text">{{ prop.description }}</p>
            <br>
          </div>
        </div>
      </div>
    </div>
</body>

<script>
    let HOST = location.protocol + "//" + location.host;
    let locationMarker;
    let circle;
    $("#map").css({
        "width": "100%",
        "height": $(document).height() - ($(".site-header").height() + $("#footer").height() + 45)});
    function map_init_basic(map, options) {
        let pos;
        map.setView([53.5, -8.5], 11);
        updateLocation(map);
    }
    function updateLocation(map) {
        navigator.geolocation.getCurrentPosition(function (pos) {
            setMapToCurrentLocation(map, pos);
            },
            function (err) {
            },
            {
                enableHighAccuracy: true,
                timeout: 30000
            }
        );
    }

    function setMapToCurrentLocation(map, pos) {
        console.log("In setMapToCurrentLocation.");

        {% if amenity_list %}

        var bounds_markers = L.featureGroup();
        var all_markers = L.markerClusterGroup();
        var dining_markers = L.markerClusterGroup();
        var education_markers = L.markerClusterGroup();
        var transportation_markers = L.markerClusterGroup();
        var financial_markers = L.markerClusterGroup();
        var healthcare_markers = L.markerClusterGroup();
        var entertainment_markers = L.markerClusterGroup();
        var shop_markers = L.markerClusterGroup();
        var other_markers = L.markerClusterGroup();


        var dining = ['bar', 'bbq', 'biergarten', 'cafe', 'drinking_water', 'fast_food',
        'ice_cream', 'pub', 'restaurant']

        var education = ['college', 'driving_school', 'kindergarten', 'language_school', 'library',
        'toy_library', 'music_school', 'school', 'university']

        var transportation = ['bicycle_parking', 'bicycle_repair_station', 'kindergarten', 'bicycle_rental', 'boat_rental',
        'boat_sharing', 'bus_station', 'car_rental', 'car_sharing',
        'car_wash', 'vehicle_inspection', 'charging_station', 'ferry_terminal', 'fuel',
        'grit_bin', 'motorcycle_parking', 'parking', 'parking_entrance', 'parking_space', 'taxi']

        var financial = ['atm', 'bank', 'bureau-de-change']

        var healthcare = ['baby_hatch', 'clinic', 'kindergarten', 'dentist', 'doctors',
        'hospital', 'nursing_home', 'pharmacy', 'social_facility', 'veterinary']

        var entertainment = ['arts_centre', 'casino', 'cinema', 'community_centre',
        'gambling', 'nightclub', 'planetarium', 'public_bookcase', 'social_centre',
        'studio', 'theatre']

        var shops = ['bakery', 'beverages', 'butcher', 'convenience', 'deli', 'frozen_food',
        'department_store', 'general', 'kiosk', 'mall', 'supermarket', 'wholesale',
        'jewelry', 'variety_store', 'chemist',
        'cosmetics', 'medical_supply', 'optician',
        'garden_centre' ,'garden_furniture', 'hardware'	,'houseware',
        'computer', 'electronics', 'mobile_phone', 'bicycle','car','car_repair','car_parts','caravan','fuel',
        'sports', 'video_games', 'books', 'gift', 'newsagent', 'dry_cleaning', 'laundry'
	    ]

        var others = ['animal_boarding', 'animal_breeding', 'animal_shelter', 'baking_oven',
        'bench', 'childcare', 'clock', 'conference_centre', 'courthouse', 'crematorium',
        'dive_centre', 'dog_toilet', 'embassy',
        'fire_station', 'funeral_hall', 'give_box', 'grave_yard',
        'internet_cafe', 'kitchen', 'lounger', 'marketplace',
        'monastery', 'photo_booth', 'place_of_mourning', 'place_of_worship', 'police', 'post_box',
        'gambling', 'nightclub', 'planetarium', 'public_bookcase', 'social_centre',
        'post_depot', 'post_office', 'recycling', 'shelter', 'telephone', 'toilets', 'townhall',
        'vending_machine', 'waste_basket', 'waste_disposal', 'water_point'
        ]

        $('.amenity-card').each(function() {
            var amenity = $(this).attr('amenity');
            var amenity_display_name = $(this).attr('amenity_display_name');
            var name = $(this).attr('name');
            var lat = $(this).attr('lat');
            var lon = $(this).attr('lon');

            let myLatLon = L.latLng(lat, lon);

            if (dining.includes(amenity)){
                dining_markers.addLayer(L.marker(myLatLon, {icon:dinIcon}).bindPopup("<b>"+amenity_display_name+"</b><br>"+name));
            }

            else if (education.includes(amenity)){
                education_markers.addLayer(L.marker(myLatLon, {icon:edIcon}).bindPopup("<b>"+amenity_display_name+"</b><br>"+name));
            }

            else if (transportation.includes(amenity)){
                transportation_markers.addLayer(L.marker(myLatLon, {icon:transIcon}).bindPopup("<b>"+amenity_display_name+"</b><br>"+name));
            }

            else if (financial.includes(amenity)){
                financial_markers.addLayer(L.marker(myLatLon, {icon:finIcon}).bindPopup("<b>"+amenity_display_name+"</b><br>"+name));
            }

            else if (healthcare.includes(amenity)){
                healthcare_markers.addLayer(L.marker(myLatLon, {icon:medIcon}).bindPopup("<b>"+amenity_display_name+"</b><br>"+name));
            }

            else if (entertainment.includes(amenity)){
                entertainment_markers.addLayer(L.marker(myLatLon, {icon:entIcon}).bindPopup("<b>"+amenity_display_name+"</b><br>"+name));
            }

            else if (shops.includes(amenity)){
                shop_markers.addLayer(L.marker(myLatLon, {icon:shopIcon}).bindPopup("<b>"+amenity_display_name+"</b><br>"+name));
            }

            else{
                other_markers.addLayer(L.marker(myLatLon).bindPopup("<b>"+amenity_display_name+"</b><br>"+name));
            }

            all_markers.addLayer(L.marker(myLatLon).bindPopup("<b>"+amenity_display_name+"</b><br>"+name));
            bounds_markers.addLayer(L.marker(myLatLon));

        });
        map.addLayer(all_markers);

        var amenity_markers = {
            "All" : all_markers,
            "<i class=\"fas fa-utensils\"></i> Food and Drink" : dining_markers,
            "<i class=\"fas fa-school\"></i> Education" : education_markers,
            "<i class=\"fas fa-subway\"></i> Transport" : transportation_markers,
            "<i class=\"fas fa-euro-sign\"></i> Financial Services" : financial_markers,
            "<i class=\"fas fa-medkit\"></i> Healthcare" : healthcare_markers,
            "<i class=\"fas fa-theater-masks\"></i> Entertainment" : entertainment_markers,
            "<i class=\"fas fa-shopping-cart\"></i> Shops" : shop_markers,
            "<i class=\"fas fa-map-marker-alt\"></i> Other Amenities" : other_markers
        }

        L.control.layers(amenity_markers).addTo(map);

        {% endif %}

        let myLatLon = L.latLng('{{prop.lat}}', '{{prop.lon}}');

        {% if source %}
            var radius = L.circle(myLatLon, {
                color : 'grey',
                fillColor : 'grey',
                fillOpacity : 0.2,
                radius : {{ source.radius }}
            }).addTo(map);
        {% else %}
            var radius = L.circle(myLatLon, {
                color : 'grey',
                fillColor : 'grey',
                fillOpacity : 0.2,
                radius : 1000.0
            }).addTo(map);
        {% endif %}

        L.marker(myLatLon, {
            icon:houseIcon
        }).addTo(map);

        {% if amenity_list %}
            map.fitBounds(bounds_markers.getBounds());
        {% else %}
            var bounds = L.latLngBounds(myLatLon);
            map.fitBounds(bounds.getBounds());
        {% endif %}
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>



{% endblock content %}