{% extends "world/base.html" %}
{% block content %}
    {% load leaflet_tags %}
    {% load static %}
    {% load i18n %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_filters %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        {% block extra_header %}
            <style>
                #map {width: 70vw;height: 70vh;}
            </style>
        {% endblock %}

    <!-- Leaflet custom icons -->
    <script src = "{% static 'world/icons.js' %}"></script>

    <!--LOADS markercluster css-->
        <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" type="text/css" rel="stylesheet">
        <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" type="text/css" rel="stylesheet">
        <!--LOADS markercluster plugin-->
        <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>


    </head>
    <body>
        {% block body_content %}
            <!-- Form for properties -->
        {% if request.method == 'POST' %}
            {% if noProp %}
                <div class="alert alert-danger" role="alert">
                  No properties found in your chosen area. Please refine your search.
                </div>
            {% else %}
                <div class="alert alert-success" role="alert">
                  Successfully found some ideal properties for you! See your results on the map below.
                </div>
            {% endif %}
        {% endif %}

        <div class = "page-header">
            <h1 class = "h3 text-center">Find a Property</h1>
        </div>

       </div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {#  comes from forms.py #}
                {{ form.city|as_crispy_field }}
                <br>
                <label>Type of Property</label>
                <button class = "btn dropdown-toggle btn-outline-secondary btn-sm"
                        data-toggle = "dropdown">Property Types<span class = "caret"></span></button>
                <ul class="dropdown-menu">
                    {{ form.house_type|as_crispy_field }}
                </ul>
                <br>

                <br>
                {#  rent price slider  #}
                <label>Max Rent Limit per month</label>
                <br>
                <input class = "slider" id= "rent" name="rent" type="range" min="200" max="10000"
                       value = "5000" step="50"/>
                <label id="rentPrice"></label>
                <br>

                <br>
                {#  priority sliders  #}
                <label class = "font-weight-bold">Criteria Priorities</label>
                <i class="fas fa-question-circle" data-toggle="collapse"
                href="#infoCollapse"></i>
                <div class = "collapse" id = "infoCollapse">
                    <div class = "card card-body">
                        Our system uses a multi-criteria evaluation algorithm to analyse
                        your property search priorities and display results in an appropriate order.
                        Your Best Match will be identified as the property that we feel matches your needs the closest!
                    </div>
                </div>
                <br>

                <br>
                {#  rent priority slider  #}
                <label>Rent Cost Priority</label>
                <i class="fas fa-question-circle" data-toggle="collapse"
                href="#rentCollapse"></i>
                <div class = "collapse" id = "rentCollapse">
                    <div class = "card card-body">
                        This slider will allow you to prioritise the rental price of the property above or below
                        other criteria. <br><br> Adjusting this slider towards <strong> Low </strong> will put rental cost as a lower concern in our
                        evaluation process. <br><br> Moving towards <strong>High</strong> will enable our algorithm to mark the rental price as a
                        primary concern while identifying your best match!
                    </div>
                </div>
                <br>
                <label>Low</label>
                <input class = "slider" id="rent_priority" name="rent_priority" type="range" class="form-range" min="0" max="1"
                       value = "0.5" step="0.1"/>
                <label>High</label>
                <br>

                <br>
                {#  rent priority slider  #}
                <label>Property Type Priority</label>
                <i class="fas fa-question-circle" data-toggle="collapse"
                href="#houseCollapse"></i>
                <div class = "collapse" id = "houseCollapse">
                    <div class = "card card-body">
                        This slider will allow you to prioritise the type of the property you are looking for above or below
                        other criteria. <br><br> Adjusting this slider towards <b> Low </b> will put the property type as a lower concern in our
                        evaluation process. This is a suitable option if you have high flexibility in choosing the type
                        of property you would like.

                        <br><br> Adjusting this slider towards <b>High</b> will allow our algorithm to display your search results
                        with your desired property type(s) shown first. For example, selecting Apartment in Type of Property
                        with this High setting will display all apartments higher in the search results
                        before taking other search criteria into consideration.
                    </div>
                </div>

                <br>
                <label>Low</label>
                <input class = "slider" id="house_priority" name="house_priority" type="range" min="0" max="1"
                       value = "0.5" step="0.1"/>
                <label>High</label>
                <br>

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </div>
        </form>

        {% if form.is_valid and not noProp %}
            {% leaflet_map "map" callback="window.map_init_basic" %}
        {% endif %}
        <br>
        <br>

        <div id = "info">
            {% if form.is_valid and not noProp %}
            <h3> Available Properties </h3>
            {% for prop in prop_list %}
                <div class="card prop-card" style="width: 70vw;"
                     address = "{{ prop.address }}"
                     rent = "{{ prop.rent }}"
                     lat = "{{ prop.lat }}"
                     lon = "{{ prop.lon }}"
                     rent_sim = "{{ prop.rent_sim }}"
                     beds = "{{ prop.beds }}"
                     baths = "{{ prop.baths }}"
                     house = "{{ prop.house }}"
                     house_sim = "{{ prop.house_sim }}"
                     date_posted = "{{ prop.date_posted }}">

                  <div class="card-body">
                    {% if prop == prop_list.0 %}
                        <i class="fas fa-star" style = "color:darkgoldenrod;"></i>
                        <p class="best-match">Best Match</p>
                        <style>
                            .best-match{
                                color: darkgoldenrod;
                            }
                        </style>
                    {% endif %}

                    <h5 class="card-title">{{ prop.address }}</h5>
                    <p class="card-text">{{ prop.rent }}</p>
                    <p class="card-text">Posted {{ prop.date_posted|date:"F d, Y" }}</p>
                    <a href="{% url 'prop-detail' prop.id %}" class="btn btn-primary">Property Details &rarr;</a>
                      {% if user.is_authenticated %}
                          {% if prop.in_favourites %}
                            <a href="{% url 'remove-fave' prop.id %}" class="btn btn-primary"> Remove From Favourites &rarr;</a>
                          {% else %}
                            <a href="{% url 'add-fave' prop.id %}" class="btn btn-primary"> Add to Favourites &rarr;</a>
                          {% endif %}
                      {% endif %}
                      <ul class = "ul_card">
                            <li class = "rent_rec">Rent</li>
                            <style>
                                .rent_rec{
                                    {% if prop.rent_sim >= 0.6  %}
                                        color:green;
                                    {% elif prop.rent_sim < 0.6 and prop.rent_sim >= 0.4 %}
                                        color:orange;
                                    {% elif prop.rent_sim < 0.4 %}
                                        color:red;
                                    {% else %}
                                        color:grey;
                                    {% endif %}
                                }
                            </style>
                      <li> Beds: {{ prop.beds }}</li>
                      <li> Baths: {{ prop.baths }}</li>
                      <li class = "house_rec"> Property Type: {{ prop.house }}</li>
                      <style>
                                .house_rec{
                                    {% if prop.house_sim == 1 %}
                                        color:green;
                                    {% elif prop.house_sim >= 0.5 and prop.house_sim < 1 %}
                                        color:orange;
                                    {% elif prop.house_sim <= 0.5 %}
                                        color:red;
                                    {% else %}
                                        color:grey;
                                    {% endif %}
                                }
                      </style>
                      </ul>
                  </div>
                </div>
                <br>
            {% endfor %}
        </div>
            {% endif %}
    {% endblock %}
    </body>

    {% block extra_footer %}

        <script>
            var euro = "€";
            var rent_slider = document.getElementById("rent");
            var rent_label = document.getElementById("rentPrice");
            rent_label.innerHTML = euro.concat(rent_slider.value);

            rent_slider.oninput = function(){
                rent_label.innerHTML = euro.concat(this.value);
            }

            rent_slider.onload = function(){
                rent_label.innerHTML = euro.concat(this.value);
            }
        </script>

        <script>
            $("#body_div").css({"top": $(".site-header").height() + 10, "position": "absolute"});
                $(".toast").css({
                    "top": ($(document).height() / 5),
                    "left": ($(document).width() / 5),
                    "position": "fixed",
                    "z-index": 2000
                });

        </script>

    <script>
        let HOST = location.protocol + "//" + location.host;
        let locationMarker;
        let circle;
        $("#map").css({
            "width": "100%",
            "height": $(document).height() - ($(".site-header").height() + $("#footer").height() + 45)});
        function map_init_basic(map, options) {
            const osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
            map.addLayer(osm);
            let pos;
            map.setView([53.5, -8.5], 11);
            updateLocation(map);
        }
        function updateLocation(map) {
            navigator.geolocation.getCurrentPosition(function (pos) {
                setMapToCurrentLocation(map, pos);
                },
                function (err) {
                },
                {
                    enableHighAccuracy: true,
                    timeout: 30000
                }
            );
        }

        //setting the locations of properties on the map
        function setMapToCurrentLocation(map, pos) {
            console.log("In setMapToCurrentLocation.");

            var bounds_markers = L.featureGroup();
            var all_markers = L.markerClusterGroup();


            {% if form.is_valid and not noProp %}
                $('.prop-card').each(function() {
                    var address = $(this).attr('address');
                    var rent = $(this).attr('rent');
                    var lat = $(this).attr('lat');
                    var lon = $(this).attr('lon');

                    let myLatLon = L.latLng(lat, lon);
                    all_markers.addLayer(L.marker(myLatLon,{icon:houseIcon}).bindPopup("<b>"+address+"</b><br>"+rent));
                    bounds_markers.addLayer(L.marker(myLatLon));

                });

                map.addLayer(all_markers);
                map.fitBounds(bounds_markers.getBounds());

            {% endif %}
        }
    </script>

{% endblock %}
{% endblock content %}


