{% extends "world/base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ prop.address }} {% endblock title %}</h1>
        <p class="card-text ">Posted on : {{ prop.date_posted }}</p>
        <p class="card-text ">Rent: {{ prop.rent }}</p>
        <br>
        <h3>Nearby Amenities</h3>
          <form action = "{% url 'overpass' %}" method = "POST">
              {% csrf_token %}
              <fieldset>
                  <input type = "text" id = "lat" name = "lat"
                         value = "{{ prop.lat }}" style= "display:none"/>
                  <input type = "text" id = "lon" name = "lon"
                         value = "{{ prop.lon }}" style= "display:none"/>
                  <br>
                  <label>Kilometer Radius from Property</label>
                  <br>
                  <input id="radius" name="radius" type="range" min="0" max="10"
                       value = "5" step="0.5"/>
                <label id="radiusLabel"></label>
                <script>
                    var km = "km"
                    var radius_slider = document.getElementById("radius");
                    var radius_label = document.getElementById("radiusLabel");
                    radius_label.innerHTML = radius_slider.value.concat(km);

                    radius_slider.oninput = function(){
                        radius_label.innerHTML = radius_slider.value.concat(km);
                    }
                </script>
                  <br>
                  <input type="submit" value="Amenities">
              </fieldset>
          </form>
{#        <a href="{% url 'overpass' %}">Amenities</a>#}
      </div>
    </div>
  </div>
</div>

{% endblock content %}