{% extends "world/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>Your Profile</h1>

    <div class = "container">
        <div class="row">
            <div class = "col">
                <div class = "card" style="width: 100%; margin-bottom:20px;">
                    <div class = "card-body">
                        <div class = "profile-username">
                            {{ user.username }}
                        </div>
                        <div class = "profile-email">
                            {{ user.email }}
                        </div>
                    </div>
                </div>
                <div>
                    <h4>Your Favourites</h4>
                    {% if user_faves %}
                        {% for fave in user_faves %}
                            <div class="card prop-card" style="width: 100%;"
                                 address = "{{ fave.house.address }}"
                                 rent = "{{ fave.house.rent }}"
                                 lat = "{{ fave.house.lat }}"
                                 lon = "{{ fave.house.lon }}"
                                 beds = "{{ fave.house.beds }}"
                                 baths = "{{ fave.house.baths }}"
                                 house = "{{ fave.house.propertyType }}"
                                 date_posted = "{{ fave.house.date_posted }}">


                              <img class="card-img-top" src="{{ fave.house.url }}" alt="Image Coming Soon!">

                              <div class="card-body">
                                <h5 class="card-title">{{ fave.house.address }}</h5>
                                <p class="card-text">{{ fave.house.rent }}</p>
                                <p class="card-text">Posted {{ fave.house.date_posted|date:"F d, Y" }}</p>
                                <a href="{% url 'prop-detail' fave.house.id %}" class="btn btn-primary prop-button">Property Details &rarr;</a>
                                <br>
                                <a href="{% url 'remove-fave' fave.house.id %}" class="btn btn-outline-primary prop-button">
                                  <i class="fas fa-heart"></i> Remove From Favourites &rarr;</a>
                                  <ul class = "ul_card">
                                      <li> Beds: {{ fave.house.beds }}</li>
                                      <li> Baths: {{ fave.house.baths }}</li>
                                      <li> Property Type: {{ fave.house.propertyType }}</li>
                                  </ul>
                              </div>
                            </div>
                            <br>
                        {% endfor %}
                    {% else %}
                        <div class = "card card-body" style="width:70vw;">
                            Looks like you have no favourites just yet!
                            <a href="{% url 'world-search' %}" class = "btn btn-primary my-2">Find a Property</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

