{% extends "world/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Your Profile</h1>
    <br>
    <h4>Username: {{ user.username }}</h4>
    <h4> Email: {{ user.email }}</h4>
{#    <a href="{% url 'favourites-list' %}" class = "btn btn-primary my-2">View My Favourite Properties</a>#}

    <h4>Your Favourites</h4>
    {% if user_faves %}
        {% for fave in user_faves %}
            <div class="card prop-card" style="width: 70vw;"
                 address = "{{ fave.house.address }}"
                 rent = "{{ fave.house.rent }}"
                 lat = "{{ fave.house.lat }}"
                 lon = "{{ fave.house.lon }}"
                 beds = "{{ fave.house.beds }}"
                 baths = "{{ fave.house.baths }}"
                 house = "{{ fave.house.propertyType }}"
                 date_posted = "{{ fave.house.date_posted }}">

              <div class="card-body">
                <h5 class="card-title">{{ fave.house.address }}</h5>
                <p class="card-text">{{ fave.house.rent }}</p>
                <p class="card-text">Posted {{ fave.house.date_posted|date:"F d, Y" }}</p>
                <a href="{% url 'prop-detail' fave.house.id %}" class="btn btn-primary">Property Details &rarr;</a>
                  <li> Beds: {{ fave.house.beds }}</li>
                  <li> Baths: {{ fave.house.baths }}</li>
                  <li> Property Type: {{ fave.house.propertyType }}</li>
                  </ul>
              </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <li> No favourites yet. </li>
    {% endif %}

{% endblock content %}

