# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\glenn\Desktop\4th Year College Slides\Advanced Web Mapping\Labs\geodjango_tutorial3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
